.PopoverItem {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  width: 100%;
  border: 0;
  background: transparent;
  outline: none;
  font-size: var(--font-size-md);
  border-bottom: 1px solid var(--light-gray);
  outline-offset: -2px;
  cursor: pointer;
  transition: background-color var(--anim-speed) var(--anim-easing);
}

.PopoverItem:hover {
  background-color: var(--dark-white);
}

.PopoverItem-icon {
  color: var(--gray);
  margin-right: var(--spacing-xs);
}
