{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "space-before-function-paren": [ "error", "never" ],
    "space-in-parens": [ "error", "always" ],
    "react/prop-types": 0,
    "no-extra-semi": [ "error", "always" ],
    "semi": [ "error", "always" ],
    "array-bracket-spacing": [ "error", "always" ]
  }
}